@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulse-smooth {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.4); opacity: 0.8; }
}

.pulse-smooth {
  animation: pulse-smooth 1s infinite;
}

